---
{% if role_service_enabled %}
- name: Install services
  ansible.builtin.service:
    name: {% raw %}{{ item }}{% endraw %}
    state: started
    enabled: true
  loop: "{% raw %}{{ {% endraw %}{{ role_name }}{% raw %}_services }}{% endraw %}"
{% endif %}
...
